.LiveStreamHeader .mainInfo {
  position: relative;
}

.LiveStreamHeader .mainInfo .title {
  font-size: 1.5em;
}

.LiveStreamHeader .mainInfo .userinfo .profilePic {
  width: 50px;
  height: 50px;
}

.LiveStreamHeader .mainInfo .viewers {
  position: absolute;
  bottom: 0;
  right: 0;
}

.LiveStreamControlPanel {
  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.LiveStreamControlPanel .carousel > div {
  max-width: 100%;
}

.LiveStreamControlPanel .carousel .carousel_card {
  background-color: #f5f5f5;
  max-height: 200px;
}

.LiveStreamControlPanel .carousel .carousel_card .carousel_img {
  max-width: 50%;
}

.LiveStreamControlPanel .carousel .carousel_card .sold {
  -webkit-filter: contrast(20%);
          filter: contrast(20%);
}

.LiveStreamControlPanel .carousel .carousel_card .selected {
  border: solid 3px gray;
  -webkit-box-shadow: 5px 5px 20px -4px rgba(0, 0, 0, 0.84);
          box-shadow: 5px 5px 20px -4px rgba(0, 0, 0, 0.84);
}

.LiveStreamControlPanel .carousel .carousel_card .product_info {
  padding: 0 40px 0 20px;
}

.LiveStreamControlPanel .carousel .carousel_card .product_info .product_name,
.LiveStreamControlPanel .carousel .carousel_card .product_info .product_price {
  margin: 10px 0;
}

.LiveStreamControlPanel .carousel .tns-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.LiveStreamControlPanel .carousel .carousel_btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  bottom: 0;
  opacity: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.LiveStreamControlPanel .carousel .carousel_btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.LiveStreamControlPanel .carousel .carousel_btn_left {
  left: 10px;
}

.LiveStreamControlPanel .carousel .carousel_btn_right {
  right: 10px;
}

.LiveStreamBiddingInfoSeller {
  background-color: #fffafa;
}

.LiveStreamBiddingInfoSeller .current_price,
.LiveStreamBiddingInfoSeller .remaining_time {
  font-size: 1.5em;
}

.LiveStreamBiddingInfoSeller .unavailable_btn {
  background-color: #708090 !important;
  border-color: #708090;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.LiveStreamBiddingInfoSeller .unavailable_btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody {
  border: 1px solid #dcdcdc;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .rcs-inner-handle {
  background-color: #717171;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .chat {
  position: relative;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .chat .head {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .chat .dummyLayer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .chat .dummyLayer .scrollToBottom {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .chat .footer {
  margin: 10px 0 0 0;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .chat .footer .inputBox {
  border: 1px solid #dcdcdc;
}

.LiveStreamChatRoom .LiveStreamChatRoomMainBody .chat .footer .sendBtn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

.LiveStreamChatRoom .dragBtn {
  cursor: row-resize;
  background-color: #1f5dd2;
  color: white;
  font-size: 1.5em;
  padding: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.LiveStreamDescription {
  border: 1px solid #dcdcdc;
}

.LiveStreamDescription .recommendAuction {
  width: 33%;
}
/*# sourceMappingURL=LiveStream.css.map */