@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

.loadingShown {
    position: absolute;
    top: 0px;
}

.details_container {
    width: 100%;
    // min-width: 251px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
    // padding-top: 3%;
    // position: absolute;
    z-index: -100;
    // left: 0px;

    .Detail_col_Left {
        margin-bottom: 5%;
    }
    .Detail_col_Right {
        margin-right: 0%;
        margin-bottom: 3%;
    }
}
@media screen and (max-width: 766px) {
    .details_container {
        margin-right: 0 !important;
        margin-left: 0px !important;

        //   background-color: red;
    }
}
.edit_pro_container {
    width: 100%;
    min-width: 251px;
    margin-top: 3%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    background-color: rgba($color: #e7e7e7, $alpha: 0.4);
    padding-left: 2;
    padding-right: 2%;
    .edit_header {
        font-size: 30px;
        margin: 10px;
        // margin-left: 20px;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 100;
    }
    form {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .input_box {
            width: 200px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-right: 20px;
            .input_editProfile {
                max-height: 30px;
                min-height: 27px;
                width: 220px;
                font-size: 13px;
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 300;
                color: black;
                border: 1px solid rgb(167, 167, 167);
                border-radius: 3px;
            }
            .input_editProfile:focus {
                // border-bottom: 3px solid #1F2833;
                outline-width: 0;
                animation: input_editProfile_Fo ease-out 0.5s;
                animation-fill-mode: forwards;
                // animation-delay: 0.3s;
                @keyframes input_editProfile_Fo {
                    0% {
                        border: 1px solid rgb(167, 167, 167);
                    }
                    100% {
                        border: 1px solid rgb(70, 70, 70);
                    }
                }
            }
            .input_editProfile_ro {
                cursor: default;
                width: 220px;
                font-size: 13px;
                border: 1px solid rgb(167, 167, 167);
                border-radius: 3px;
                background-color: rgb(224, 224, 224);
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 200;
            }
            .input_editProfile_ro:focus {
                outline-width: 0;
            }
        }
        .input_box_chatId {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-right: 20px;
            margin-top: 10px;
            div {
                margin-right: 3px;
            }
            label {
                width: 100%;
                padding-right: 50px;
                margin-right: 0px;
                margin-top: 7px;
                margin-bottom: 7px;
                font-size: 15px;
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 300;
            }
            .input_editProfile {
                max-height: 30px;
                min-height: 27px;
                margin-right: 10px;
                width: 220px;
                font-size: 13px;
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 200;
                border: 1px solid rgb(167, 167, 167);
                border-radius: 3px;
            }
            .input_editProfile:focus {
                // border-bottom: 3px solid #1F2833;
                outline-width: 0;
                animation: input_editProfile_Fo ease-out 0.5s;
                animation-fill-mode: forwards;
                // animation-delay: 0.3s;
                @keyframes input_editProfile_Fo {
                    0% {
                        border: 1px solid rgb(167, 167, 167);
                    }
                    100% {
                        border: 1px solid rgb(70, 70, 70);
                    }
                }
            }
            .chatId_verified:after {
                content: "已確認";
                color: green;
                font-size: 13px;
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 200;
                text-shadow: 2px grey;
                text-shadow: 1px 1px 1px rgb(90, 90, 90);
            }
            .chatId_unverified:after {
                content: "待確認";
                color: red;
                font-size: 13px;
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 200;
                text-shadow: 1px 1px 1px rgb(90, 90, 90);
            }
            .chatId_empty:after {
                content: "未輸入";
                color: black;
                font-size: 13px;
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 200;
                text-shadow: 2px grey;
                text-shadow: 1px 1px 1px rgb(90, 90, 90);
            }
        }
        .input_textarea {
            width: 100%;
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 200;
            .input_about_me {
                font-family: "Noto Sans TC", sans-serif;
                font-weight: 200;
            }
        }
        label {
            padding-right: 50px;
            margin-right: 0px;
            margin-top: 7px;
            margin-bottom: 7px;
            font-size: 15px;
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 300;
        }
        textarea {
            width: 98%;
            height: 200px;
            font-size: 14px;
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 200;
            // font-family: ‘Noto Sans TC’, sans-serif;
        }
        textarea:focus {
            outline-width: 0;
        }
    }
    .import_box {
        width: 100% !important;
    }
}

.bidcast_bot_Info_container {
    margin-top: 18px;
    margin-bottom: 18px;
    width: 98%;
    min-height: 200px;

    border: transparent;
    border-radius: 10px;
    background-color: rgba($color: #adadad, $alpha: 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .bidcast_bot_QR {
        margin: 20px;
        // padding:20px;
        cursor: pointer;
        width: 150px;
        box-shadow: 0.5px 1px 4px black;
    }
    div {
        padding: 10px;
        font-size: 15px;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 500;
        ul {
            font-size: 13px;
            font-weight: 300;
            li {
                margin-bottom: 4px;
            }
        }
    }
}

.card_body {
    display: flex;
    // justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    // margin: 5px;
    margin-left: 0%;
    margin-top: 6%;
    width: 100%;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    .card-body {
        p {
            overflow-y: scroll;
            max-height: 150px;
        }
    }
}
.card_bg_color {
    background-color: #2f4154;
    width: 100%;
    height: 80px;
}

//upload-field
.profileImport {
    width: 100% !important;
}
.profileImport input {
    cursor: pointer;
    outline: 0;
    width: 100%;
    //   outline: 2px dashed #92b0b3;
    //   outline: 2px dashed black;
    border: 2px dashed #92b0b3;
    border-radius: 15px;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
        background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    padding: 85px 0px 85px 20%;
    text-align: center !important;
    margin: 0;
    width: 98% !important;
}

.profileImport input:focus {
    outline: 0;
    border: 2px dashed #92b0b3;
    border-radius: 15px;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
        background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    border: 1px solid #92b0b3;
}
.profileImport {
    outline: 0;
    position: relative;
}
.profileImport:after {
    outline: 0;
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100px;
    right: 0;
    height: 100px;
    content: "";
    background-image: url("./assets/pngegg.png");
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input {
    background-color: #f1f1f1;
}
.profileImport:before {
    outline: 0;
    position: absolute;
    bottom: 10px;
    left: 0px;
    pointer-events: none;
    width: 100%;
    right: 0px;
    height: 57px;
    content: " Click to upload or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #15ba83;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

.editProForm_shown {
    display: block;
    transform: translate3d(0px, 0px, 0px);
    animation: formShown ease-out 0.5s;
    opacity: 1;
    // animation-delay: 0.3s;
    @keyframes formShown {
        0% {
            opacity: 0;
            transform: translate3d(-100px, 0px, 0px);
        }
        100% {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
    }
}
.proImg_shown {
    // display:block;
    transform: translate3d(0px, 0px, 0px);
    opacity: 0;
    animation: photoShown ease-out 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    @keyframes photoShown {
        0% {
            opacity: 0;
            transform: translate3d(50px, 0px, 0px);
        }
        100% {
            opacity: 1;
            transform: translate3d(10px, 0px, 0px);
        }
    }
}
.proImg_container {
    margin-top: 10px;
    box-shadow: 1px 2px 5px rgb(173, 173, 173);
    opacity: 0;
    width: 98%;
    height: 250px;
    border: transparent;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba($color: #5e5e5e, $alpha: 0.2);
    animation: proImg_container ease-out 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    @keyframes proImg_container {
        0% {
            opacity: 0;
            transform: translate3d(0px, -50px, 0px);
        }
        100% {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
    }
    .file_Info_container {
        opacity: 0;
        width: 300px;
        margin-left: 10%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        align-items: center;
        animation: imgInfo_container ease-out 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        div {
            font-weight: 500;
            font-size: 15px;
            padding-left: 30px;
            margin-bottom: 15px;
            // padding-right: 30px;
        }
        @keyframes imgInfo_container {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    // @media screen and (max-width: 650px) {
    //     .file_Info_container {
    //         display: none;
    //     }
    // }
}
input[type="file"] {
    text-indent: -120000px;
}

.resize_upload_proPic {
    // margin-top: 20px;
    // max-height:200px;

    min-width: 220px;
    max-width: 15vw;
    max-height: 220px;
    // height: 50vh;
}
.test_user {
    font-size: 30px;
}

//hide number input arrow
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .card-title {
        // font-size: 1000px !important;
        width: 100%;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        word-wrap: break-word;
    }
    .name_card_vice {
        color: grey;
        font-size: 12px;
        font-weight: 300;
        width: 100% !important;
        // padding: 20px;
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    .card-text {
        width: 200px;
        margin-left: 20px;
        margin-right: 20px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;
        text-overflow: clip;
        overflow-wrap: break-word;
        word-wrap: break-word;
        .card_Description {
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px;
            width: 100% !important;
            text-overflow: clip;
            overflow-wrap: break-word;
            word-wrap: break-word;
            // max-width: 300px;
            // background-color: red;
            // text-align: center;
            // text-overflow: inherit;
        }
    }
}
.Acc_Detail_TOKEN {
    font-weight: 900;
    cursor: pointer;
}
.FaClipboard {
    color: grey;
}
.upload_reminder {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-size: 500;
    color: black;
    font-family: "Noto Sans TC", sans-serif;
}
