// body {
//     margin: 0;
//     padding-top: 50px;
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     background: transparent;
// }
.load-location {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    // text-align: center;
}

.loader-1 {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loadingShown {
    display: block;
    opacity: 1;
    background-color: transparent !important;
}
.loadingHide {
    display: none;
}

// .loadingHide {
//     // display: block;
//     opacity: 1;
//     animation: loadingHide linear 2s;
//     animation-delay: 0.5s;
//     animation-fill-mode: forwards;
//     @keyframes loadingHide {
//         0% {
//             display: block;
//         }
//         100% {
//             display: none;
//         }
//     }
// }
